@page "/"

<div class="d-flex justify-center">
    <MudCard Class="pa-2 ma-2">
        <MudCardContent>
            <MudText Typo="Typo.h5">Software</MudText>
            <MudText Typo="Typo.body2">.NET 8 - what's new?</MudText>
            <MudImage Src="images/Software/TimeAbstractionService.png" Height="200" Width="250" />
        </MudCardContent>
        <MudCardActions>
            <MudButton Href="Software" Variant="Variant.Text" Color="Color.Primary">More</MudButton>
        </MudCardActions>
    </MudCard>

    <MudCard Class="pa-2 ma-2">
        <MudCardContent>
            <MudText Typo="Typo.h5">Running</MudText>
            <MudText Typo="Typo.body2">Athens here I come.</MudText>
            <MudImage Src="images/Running/RunningShoes.png" Height="200" Width="250" />
        </MudCardContent>
        <MudCardActions>
            <MudButton Href="Running" Variant="Variant.Text" Color="Color.Primary">More</MudButton>
        </MudCardActions>
    </MudCard>

    <MudCard Class="pa-2 ma-2">
        <MudCardContent>
            <MudText Typo="Typo.h5">Music</MudText>
            <MudText Typo="Typo.body2">Up next: Tenacious D</MudText>
            <MudImage Src="images/Music/GiantsLive.png" Height="200" Width="250" />
        </MudCardContent>
        <MudCardActions> 
            <MudButton Href="Music" Variant="Variant.Text" Color="Color.Primary">More</MudButton>
        </MudCardActions>
    </MudCard>
</div>