@page "/Music/"

<MudContainer>
    <MudPaper Class="ma-5 pa-5">
        <h3>Music - Tenacious D</h3>
        <p>
            Such an amazing gig, to see Jack and Kyle live has always been a must for me! A show filled with
            laughs and amazing tunes. Favourite song live was either Tribute or The Metal. So many props and
            interludes.
        </p>
        <div class="d-flex justify-center">
            <MudImage Class="d-flex pa-2" Height="350" Width="500" Src="images/Music/TenaciousD.png" />
        </div>
    </MudPaper>
</MudContainer>

@code {

}
