@page "/Running/"

<MudContainer>
    <MudPaper Class="ma-5 pa-5">
        <h3>Running - Athens Marathon 2024</h3>
        <p>JNfeifuiefsiufdiughdsuidigdsvfndifudsnuvfu</p>
    </MudPaper>

</MudContainer>

@code {

}
