@page "/Running/"

<MudContainer>
    <MudPaper Class="ma-5 pa-5">
        <h3>Running - Athens Marathon 2024</h3>
        <p>
            This year I will be running the Authentic Athens marathon in memory of my
            Dad and Grandad. This will be my first marathon and I cannot wait.
        </p>
        <h4>History</h4>
        <p>
            The Athens Marathon is recognized as the original marathon course and it was the 
            same course used in the 2004 Olympics held in Athens. In 1896 the organizing committee 
            who revived the modern Olympics, were inspired by the bravery of the Athenians at the 
            Battle of Marathon in 490 B.C., as well as the legend of the messenger who ran from the 
            town of Marathon to Athens with the news of victory.  The Athens Marathon starts near 
            the battle field area at Marathon and finishes in the magnificent all marble Panathenaic  
            Stadium that was  built for the first modern Olympics of 1896, it is a short distance from 
            the Acropolis. You will be running in the footsteps of the ancient heroes and legends who 
            gave birth to western civilization. Those who are familiar with the detailed rich history 
            think of running it as if it were a pilgrimage; an experience they’ll never forget.
        </p>
        <h4>Current Progress</h4>
        <p>
            I've been slowly upping my mileage over the last few months, currently up to 15 miles. 
            Unfortunately I've suffered a bit of a injury, with some nerve damage so haven't been 
            able to run for around a week. I'm hoping for a quick recovery and to get back out there.
            I've booked onto the York 10k in August too. 
        </p>
        <div class="d-flex justify-center">
            <MudImage Class="d-flex pa-2" Height="350" Width="500" Src="images/Running/North_Linc_Half.jpg" />
        </div>
    </MudPaper>
</MudContainer>

@code {

}
