@page "/Software/"

<MudContainer>
    <MudPaper Class="ma-5 pa-5">
        <h2>.NET 8</h2>
        <h3>Time Abstraction</h3>
        <p>
            The newly added TimeProvider class and ITimer interface provide time
            abstraction functionality, thereby allowing you to mock time in test scenerios.
        </p>
        <h4>Example</h4>
        <MudImage Class="d-inline-flex pa-2" Height="350" Width="300" Src="images/Software/TimeAbstractionService.png" />
        <MudImage Class="d-inline-flex pa-2" Height="350" Width="300" Src="images/Software/TimeAbstractionServiceTests.png" />
        <h3>.NET Aspire</h3>
        <p>
            .NET Aspire is an opinionated, cloud ready stack for building observable,
            production ready, distributed applications. .NET Aspire is delivered through a
            collection of NuGet packages that handle specific cloud-native concerns.
            Cloud-native apps often consist of small, interconnected pieces or microservices
            rather than a single, monolithic code base. Cloud-native apps generally consume a
            large number of services, such as databases, messaging, and caching.
        </p>
    </MudPaper>
</MudContainer>
